<div class="schemalab-tool options-tool compact-auto-height" fxLayout="column">
  <div class="output-schemas">
    <sudokulab-thumbnail *ngFor="let sdk of schemas$|async"
                         [sudoku]="sdk"
                         matTooltip="click to open in player"
                         (click)="openInLab(sdk)"></sudokulab-thumbnail>
    <sudokulab-thumbnail [workingMode]="true"
                         *ngIf="!!(running$|async)"
                         unknown="generating..."></sudokulab-thumbnail>
  </div>
</div>
