.options-tool {
  height: 100%;
}

.toolbar {
  padding: 10px 0;
}

.thumbnail {
  cursor: pointer;
  width: 100px;
  position: relative;
  display: inline-block;
  margin: 6px;
}



.output-schemas {
  min-height: 120px;
  position: relative;
}

.output-empty {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  text-align: center;
}

::ng-deep {
  .output-schemas {
    sudokulab-thumbnail {
      display: inline-block;
      margin: 4px 8px;
    }
  }
}
