<div class="schemalab-tool options-tool compact-auto-height" fxLayout="column">
  <div class="output-schemas">
    <div class="output-empty"
         *ngIf="((generator.schemas$|async)||[]).length<=0 && !(generator.running$|async)"
         fxLayout="column" fxLayoutAlign="center">
      <div>no schema</div>
    </div>
    <div *ngFor="let sdk of generator.schemas$|async" class="thumbnail">
      <svg-board [sudoku]="sdk"
                 matTooltip="click to open in player"
                 (click)="openInLab(sdk)"></svg-board>
      <div class="thumbnail-description">{{sdk|schemaName}}</div>
    </div>
    <sudokulab-thumbnail [workingMode]="true"
                         *ngIf="!!(generator.running$|async)"
                         [sudoku]="sudoku$|async"
                         unknown="generating..."></sudokulab-thumbnail>
  </div>
</div>
