<h1 mat-dialog-title>Open schema</h1>
<div mat-dialog-content
     class="upload-dialog"
     (dragenter)="allowDrop($event)"
     (dragover)="allowDrop($event)"
     fxLayout="column">
  <div class="upload-canvas drop-enabled"
       (click)="import()"
       (drop)="drop($event)"
       fxFlex fxLayout="column" fxLayoutAlign="center">
    <div class="upload-canvas-info">
      <p *ngIf="data.allowImages">drag a file here (json or image)</p>
      <p *ngIf="!data.allowImages">drag a json file here</p>
      <p>or click to browse on folders</p>
    </div>
  </div>
  <div class="text-container" [ngClass]="{'has-edit-on-grid': !!data?.allowEditOnGrid}" fxLayout="column">
    <input class="hidden file-resource" type="file" #fileResource (change)="onFileChange($event)">
    <input matInput
           class="input-schema-string"
           autocomplete="off"
           [value]="(text$|async)"
           placeholder="insert schema numbers..."
           (input)="applyText($event)">
    <button class="edit-on-grid" mat-icon-button matTooltip="Edit on grid" (click)="editOnGrid()">
      <mat-icon>apps</mat-icon>
    </button>
    <div class="text-info">{{textInfo$|async}}</div>
  </div>
</div>
<mat-dialog-actions>
  <mat-slide-toggle class="options-editor"
                    *ngIf="!!data?.allowOnlyValues"
                    [checked]="onlyValues$|async"
                    (change)="onlyValuesChanged($event)">only values</mat-slide-toggle>
  <div fxFlex></div>
  <button mat-stroked-button
          (click)="upload()"
          [disabled]="!!!(valid$|async)"
          mat-dialog-close>LOAD</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
