@import "../../../variables";

.upload-dialog {
  height: 340px;
}
.text-container {
  position: relative;
  .input-schema-string {
    font-family: monospace;
    font-size: 1.5em;
    padding: 6px;
    border: rgba(10, 10, 10, 0.1) 1px solid;
  }
  .edit-on-grid {
    position: absolute;
    right: -3px;
    top: 17px;
    display: none;
  }
  &.has-edit-on-grid {
    .input-schema-string {
      width: calc(100% - 44px);
      padding-right: 36px;
    }
    .edit-on-grid {
      display: block;
    }
  }
}


.text-info {
  opacity: .6;
  font-size: .8em;
  margin: 6px 0;
}

.upload-canvas {
  border: 4px rgba(10,10,10,.1) dashed;
  border-radius: 40px;
  text-align: center;
  margin: 20px;
  position: relative;
  cursor: pointer;
  transition: border-color ease-in-out .5s;
  &:hover {
    border-color: $color-primary;
    .upload-canvas-info {
      opacity: .8;
    }
  }
  .upload-canvas-info {
    opacity: .4;
    font-size: 1.3em;
    pointer-events: none;
  }
}
