<div #board
     class="sudokulab-board" tabindex="0"
     [class.disabled]="generator.running$|async"
     [class.compact-blur]="generator.running$|async">
  <div class="sudokulab-board-background"
       fxLayout="column">
    <div class="sudokulab-board-row"
         *ngFor="let row of rows$|async"
         fxLayout="row" fxLayoutAlign="start center">
      <div class="sudokulab-board-cell"
           *ngFor="let col of cols$|async">
<!--        [ngStyle]="(cellStyle$|async)||{}" -->
        <div class="cell-container hover-all"
             fxLayout="row" fxLayoutAlign="center center"
             *ngIf="((generator.sdk$|async)?.cells||{})[col+'.'+row] as cell"
             (click)="select(col, row)"
             [class.fixed]="cell.fixed"
             [class.selected]="cell.id === (generator.activeCellId$|async)"
             [class.right-line]="((gridLine$|async)||{})[col]"
             [class.bottom-line]="((gridLine$|async)||{})[row]"
             [class.dynamic]="(cell.value === DYNAMIC)">
          <div class="cell-value">{{PROXYVALUE[cell?.value||'']||cell?.value||''}}</div>
          <sudokulab-cell-values
            *ngIf="!cell?.value || (cell?.value===DYNAMIC)"
            [rank]="(generator.sdk$|async)?.sudoku?.rank||RANK"
            [values]="cell?.availables||[]"></sudokulab-cell-values>
        </div>
      </div>
    </div>
  </div>
</div>
