
.sudokulab-board {
  outline: none;
  width: 100%;
  height: 100%;
  position: absolute;
  .sudokulab-board-background {
    height: 100%;
  }
  &.disabled {
    opacity: .8;
  }
  &:not(.has-focus) {
    .cell-container {
      &.selected {
        outline-style: none !important;
      }
    }
  }
}


.cell-container {
  position: relative;
  cursor: pointer;
  &.fixed {
    font-weight: bold;
  }
  &.selected {
    outline-style: dashed;
    outline-offset: -4px;
    outline-width: 1px;
  }
}

