<div class="sudokulab-page"
     [fxLayout]="layout$|async"
     [fxLayoutAlign]="layoutAlign$|async">
  <div class="tools tools-left compact-auto-height" [fxFlex]="topToolFlex$|async">
    <sudokulab-info></sudokulab-info>
    <div class="details-container"
         *ngIf="!!!(compact$|async)">
      <sudokulab-solver-step-details
        *ngIf="isShowDetails$|async"
        [handleLines]="true"
        [showHelpImage]="false"
        [allowClose]="true"
        [steps]="(activeSteps$|async)||[]"
        (onClose)="closeDetails()"
        (onLineCLick)="stepLineClick($event)"></sudokulab-solver-step-details>
    </div>
  </div>
  <div class="board-container" fxLayout="column">
    <div class="board" #board [ngStyle]="boardStyle$|async">
      <sudokulab-board emptyText="select a schema" [highLight]="highlight$|async"></sudokulab-board>
    </div>
    <div class="bottom-board compact-size-600" fxFlex>
      <mat-progress-bar [value]="progress$|async"
                        class="lab-progress-bar"
                        color="primary"
                        mode="determinate"></mat-progress-bar>
      <sudokulab-key-board [cells]="cells$|async"
                           [isActive]="isActiveCell$|async"
                           [isPencil]="isPencil$|async"
                           [rank]="rank$|async"
                           [usePencil]="true"
                           (onValueChanged)="keyPressed($event)"
                           (onPencilChanged)="pencilChanged($event)"></sudokulab-key-board>
      <sudokulab-board-state></sudokulab-board-state>
    </div>
  </div>
  <div class="tools tools-right" fxFlex="50">
    <div class="details-container"
         *ngIf="!!(compact$|async)">
      <sudokulab-solver-step-details
        *ngIf="isShowDetails$|async"
        [handleLines]="true"
        [showHelpImage]="false"
        [allowClose]="true"
        [steps]="(activeSteps$|async)||[]"
        (onClose)="closeDetails()"
        (onLineCLick)="stepLineClick($event)"></sudokulab-solver-step-details>
    </div>
    <sudokulab-schemas></sudokulab-schemas>
  </div>
</div>

