<div class="sudokulab-page"
     [fxLayout]="layout$|async"
     [fxLayoutAlign]="layoutAlign$|async">
  <div class="tools tools-left compact-auto-height"
       [fxFlex]="topToolFlex$|async"
       fxLayout="column">
    <sudokulab-info></sudokulab-info>
    <div class="details-container" fxFlex
         *ngIf="!!!(sudokuLab.state.isCompact$|async)">
      <sudokulab-solver-step-details
        [handleLines]="true"
        [showHelpImage]="false"
        [allowClose]="true"
        [steps]="(sudokuLab.state.stepInfos$|async)||[]"
        (onClose)="closeDetails()"
        (onLineCLick)="stepLineClick($event)"></sudokulab-solver-step-details>
    </div>
  </div>
  <div class="board-container" fxLayout="column">
    <div class="board" #board [ngStyle]="boardStyle$|async">
      <div class="not-available-workers"
           fxLayout="row" fxLayoutAlign="center center"
           *ngIf="!boardData.isWorkerAvailable">
        <div class="text-center">workers not available, schema cannot be showed</div>
      </div>
      <sudokulab-board-worker *ngIf="boardData.isWorkerAvailable"></sudokulab-board-worker>
    </div>
    <div class="bottom-board compact-size-600" fxFlex>
      <mat-progress-bar [value]="progress$|async"
                        class="lab-progress-bar"
                        color="primary"
                        mode="determinate"></mat-progress-bar>
      <sudokulab-key-board [boardData]="boardData"
                           [usePencil]="true"></sudokulab-key-board>
      <sudokulab-board-state></sudokulab-board-state>
      <sudokulab-operations-bar class="compact-visible"></sudokulab-operations-bar>
    </div>
  </div>
  <div class="tools tools-right" fxFlex="50">
    <div class="details-container"
         *ngIf="!!(compact$|async)">
      <sudokulab-solver-step-details
        [handleLines]="true"
        [showHelpImage]="false"
        [allowClose]="true"
        [steps]="(sudokuLab.state.stepInfos$|async)||[]"
        (onClose)="closeDetails()"
        (onLineCLick)="stepLineClick($event)"></sudokulab-solver-step-details>
    </div>
    <sudokulab-schemas></sudokulab-schemas>
  </div>
</div>

