<div class="sudokulab-page"
     [fxLayout]="layout$|async"
     [fxLayoutAlign]="layoutAlign$|async">
  <div class="tools tools-left compact-auto-height" [fxFlex]="topToolFlex$|async">
    <sudokulab-info></sudokulab-info>
  </div>
  <div class="board-container" fxLayout="column">
    <div class="board" #board [ngStyle]="boardStyle$|async">
      <sudokulab-board emptyText="select a schema"></sudokulab-board>
    </div>
    <div class="bottom-board compact-size-600" fxFlex>
      <mat-progress-bar [value]="progress$|async"
                        class="lab-progress-bar"
                        color="primary"
                        mode="determinate"></mat-progress-bar>
      <sudokulab-key-board></sudokulab-key-board>
      <sudokulab-board-state></sudokulab-board-state>
    </div>
  </div>
  <div class="tools tools-right" fxFlex="50">
    <sudokulab-schemas></sudokulab-schemas>
  </div>
</div>
