.board {
  width: 600px;
  height: 600px;
  position: relative;
}

.lab-progress-bar {
  width: calc(100% - 5px);
  height: 16px;
}

::ng-deep {
  .compact {
    .bottom-board {
      margin-bottom: 50px;
    }
  }
}
