<div class="schemalab-tool options-tool" fxLayout="column">
  <!-- DIMESION -->
  <mat-form-field appearance="fill">
    <mat-label>Schema dimension</mat-label>
    <mat-select [value]="9"
                (valueChange)="apply($event, 'rank')"
                disabled="true">
      <mat-option *ngFor="let dim of availableDimensions" [value]="dim.code">
        {{dim.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- SYMMETRY -->
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Symmetry</mat-label>
      <mat-select [value]="symmetry$|async"
                  [disabled]="running$|async"
                  (valueChange)="applySettings($event, symmetry$)">
        <mat-option *ngFor="let sym of availableSymmetries" [value]="sym.code">
          {{sym.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="space" *ngIf="hasXValues$|async"></div>
    <mat-form-field appearance="fill" *ngIf="hasXValues$|async" fxFlex>
      <mat-label>Valorization mode</mat-label>
      <mat-select [value]="valorizationMode$|async"
                  [disabled]="running$|async"
                  (valueChange)="applySettings($event, valorizationMode$)">
        <mat-option *ngFor="let vlm of availableValorizationModes" [value]="vlm.code">
          {{vlm.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- NUMBER OF NUMBERS -->
  <mat-label>Numbers ({{(editSudoku$|async)?.fixedCount}} / <b>{{fixedCount$|async}}</b>)</mat-label>
  <mat-slider
    [disabled]="running$|async"
    [max]="maxNumbers$|async"
    [min]="minNumbers$|async"
    [step]="1"
    [thumbLabel]="true"
    [tickInterval]="1"
    [value]="fixedCount$|async"
    (valueChange)="applySettings($event, fixedCount$)"
    aria-labelledby="example-name-label">
  </mat-slider>
  <!-- DIFFICULTY RANGE -->
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Difficulty (min)</mat-label>
      <mat-select [value]="minDiff$|async"
                  [disabled]="running$|async"
                  placeholder="undefined"
                  (valueChange)="applySettings($event, minDiff$)">
        <mat-option *ngFor="let dif of availableDifficulty" [value]="dif.code">
          {{dif.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="space"></div>
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>(max)</mat-label>
      <mat-select [value]="maxDiff$|async"
                  [disabled]="running$|async"
                  placeholder="undefined"
                  (valueChange)="applySettings($event, maxDiff$)">
        <mat-option *ngFor="let dif of availableDifficulty" [value]="dif.code">
          {{dif.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- EXCLUDE TRY ALGORITHM -->
  <mat-slide-toggle class="options-editor"
                    [checked]="excludeTryAlgorithm$|async"
                    [disabled]="running$|async"
                    (change)="applySettings($event, excludeTryAlgorithm$)">Exclude try algorithm</mat-slide-toggle>
  <!-- STOP -->
  <div fxLayout="row" fxLayoutAlign="start center">
    <!-- STOP MODE -->
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Stop mode</mat-label>
      <mat-select [value]="generationEndMode$|async"
                  [disabled]="running$|async"
                  (valueChange)="applySettings($event, generationEndMode$)">
        <mat-option *ngFor="let stm of availableStopModes" [value]="stm.code">
          {{stm.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="space" *ngIf="(isStopModeCount$|async)"></div>
    <!-- NUMBER OF STOP SCHEMA -->
    <mat-form-field appearance="fill" *ngIf="(isStopModeCount$|async)" fxFlex>
      <mat-label>Builded schemas</mat-label>
      <input matInput
             type="number"
             [disabled]="running$|async"
             [value]="generationEndValue$|async"
             (input)="applySettings($event, generationEndValue$)">
    </mat-form-field>
  </div>

  <!-- LIMITS -->
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Max split schemas</mat-label>
      <input matInput
             [disabled]="running$|async"
             type="number"
             [value]="maxSplitSchema$|async"
             (input)="applySettings($event, maxSplitSchema$)">
    </mat-form-field>
    <div class="space"></div>
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Max schema cycles</mat-label>
      <input matInput
             [disabled]="running$|async"
             type="number"
             [value]="maxSchemaCycles$|async"
             (input)="applySettings($event, maxSchemaCycles$)">
    </mat-form-field>
  </div>
</div>
