::ng-deep {
  .options-tool {
    .mat-form-field {
      min-width: 60px;
    }
  }

}
.options-tool {
  padding: 0 50px;
}

.space {
  width: 10px;
}

.options-editor {
  margin-bottom: 16px;
  padding: 10px 0;
}
