<script src="generator-options.component.ts"></script>
<div class="schemalab-tool options-tool compact-size-600"
     *ngIf="(generator.sdk$|async) as sdk"
     fxLayout="column">
  <!-- DIMESION -->
  <mat-form-field appearance="fill">
    <mat-label>Schema dimension</mat-label>
    <mat-select [value]="sdk?.sudoku?.rank||RANK"
                (valueChange)="applySudoku($event, 'rank')"
                disabled="true">
      <mat-option *ngFor="let dim of availableDimensions" [value]="dim.code">
        {{dim.description}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <!-- SYMMETRY -->
  <div fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field appearance="fill"
                    *ngIf="(status$|async)?.mode===MODE.multiple"
                    fxFlex>
      <mat-label>Symmetry</mat-label>
      <mat-select [value]="sdk.options.generator.symmetry"
                  [disabled]="generator.running$|async"
                  (valueChange)="apply($event, 'symmetry')">
        <mat-option *ngFor="let sym of availableSymmetries" [value]="sym.code">
          {{sym.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
<!--    <div class="space" *ngIf="hasXValues$|async"></div>-->
<!--    <mat-form-field appearance="fill" *ngIf="hasXValues$|async" fxFlex>-->
<!--      <mat-label>Valorization mode</mat-label>-->
<!--      <mat-select [value]="opt.valorizationMode"-->
<!--                  [disabled]="generator.running$|async"-->
<!--                  (valueChange)="apply($event, 'valorizationMode')">-->
<!--        <mat-option *ngFor="let vlm of availableValorizationModes" [value]="vlm.code">-->
<!--          {{vlm.description}}-->
<!--        </mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
  </div>
  <!-- NUMBER OF NUMBERS -->
  <mat-label>Numbers ({{fixedCount$|async}} / <b>{{sdk.options.generator.fixedCount}}</b>)</mat-label>
  <mat-slider
    [disabled]="generator.running$|async"
    [max]="maxNumbers$|async"
    [min]="minNumbers$|async"
    [step]="1"
    [thumbLabel]="true"
    [tickInterval]="1"
    [value]="sdk.options.generator.fixedCount"
    (valueChange)="apply($event, 'fixedCount')"
    aria-labelledby="example-name-label">
  </mat-slider>
  <!-- DIFFICULTY RANGE -->
  <div fxLayout="row" fxLayoutAlign="start center"
       *ngIf="(status$|async)?.mode!==MODE.single" >
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Difficulty (min)</mat-label>
      <mat-select [value]="sdk.options.generator.minDiff"
                  [disabled]="generator.running$|async"
                  placeholder="undefined"
                  (valueChange)="apply($event, 'minDiff')">
        <mat-option *ngFor="let dif of availableDifficulty" [value]="dif.code">
          {{dif.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="space"></div>
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>(max)</mat-label>
      <mat-select [value]="sdk.options.generator.maxDiff"
                  [disabled]="generator.running$|async"
                  placeholder="undefined"
                  (valueChange)="apply($event, 'maxDiff')">
        <mat-option *ngFor="let dif of availableDifficulty" [value]="dif.code">
          {{dif.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!-- EXCLUDE TRY ALGORITHM -->
  <mat-slide-toggle class="options-editor"
                    *ngIf="(status$|async)?.mode!==MODE.single"
                    [checked]="sdk.options.generator.excludeTryAlgorithm"
                    [disabled]="generator.running$|async"
                    (change)="apply($event, 'excludeTryAlgorithm')">Exclude try algorithm</mat-slide-toggle>
  <!-- STOP -->
  <div fxLayout="row" fxLayoutAlign="start center"
       *ngIf="(status$|async)?.mode!==MODE.single">
    <!-- STOP MODE -->
    <mat-form-field appearance="fill" fxFlex>
      <mat-label>Stop mode</mat-label>
      <mat-select [value]="sdk.options.generator.generationEndMode"
                  [disabled]="generator.running$|async"
                  (valueChange)="apply($event, 'generationEndMode')">
        <mat-option *ngFor="let stm of availableStopModes" [value]="stm.code">
          {{stm.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="space" *ngIf="(isStopModeCount$|async)"></div>
    <!-- NUMBER OF STOP SCHEMA -->
    <mat-form-field appearance="fill" *ngIf="(isStopModeCount$|async)" fxFlex>
      <mat-label>{{stopModeCountLabel$|async}}</mat-label>
      <input matInput
             type="number"
             [disabled]="generator.running$|async"
             [value]="sdk.options.generator.generationEndValue"
             (input)="apply($event, 'generationEndValue')">
    </mat-form-field>
  </div>

  <!-- LIMITS -->
<!--  <div fxLayout="row" fxLayoutAlign="start center">-->
<!--    <mat-form-field appearance="fill" fxFlex>-->
<!--      <mat-label>Max split schemas</mat-label>-->
<!--      <input matInput-->
<!--             [disabled]="generator.running$|async"-->
<!--             type="number"-->
<!--             [value]="opt.maxSplitSchema.toString()"-->
<!--             (input)="apply($event, 'maxSplitSchema')">-->
<!--    </mat-form-field>-->
<!--    <div class="space"></div>-->
<!--    <mat-form-field appearance="fill" fxFlex>-->
<!--      <mat-label>Max schema cycles</mat-label>-->
<!--      <input matInput-->
<!--             [disabled]="generator.running$|async"-->
<!--             type="number"-->
<!--             [value]="opt.maxSchemaCycles.toString()"-->
<!--             (input)="apply($event, 'maxSchemaCycles')">-->
<!--    </mat-form-field>-->
<!--  </div>-->
<!--  <div fxLayout="row" fxLayoutAlign="start center">-->
<!--    <mat-form-field appearance="fill" fxFlex>-->
<!--      <mat-label>Max value cycless</mat-label>-->
<!--      <input matInput-->
<!--             [disabled]="generator.running$|async"-->
<!--             type="number"-->
<!--             [value]="opt.maxValueCycles.toString()"-->
<!--             (input)="apply($event, 'maxValueCycles')">-->
<!--    </mat-form-field>-->
<!--    <div class="space"></div>-->
<!--    <div fxFlex></div>-->
<!--  </div>-->
</div>
