<mat-progress-bar *ngIf="generator.running$|async"
                  class="progress-bar"
                  color="accent"
                  mode="indeterminate"></mat-progress-bar>
<div class="sudokulab-page"
     [fxLayout]="layout$|async"
     [fxLayoutAlign]="layoutAlign$|async">
  <div class="tools tools-left compact-hidden" fxFlex>
    <sudokulab-generator-info></sudokulab-generator-info>
    <sudokulab-generator-options></sudokulab-generator-options>
  </div>
  <div class="board-container" fxLayout="column">
    <div class="board" #board [ngStyle]="boardStyle$|async">
      <svg-interactive-board
        [sudokuData]="generator"
        (changed)="changed()"
      ></svg-interactive-board>
      <sudokulab-key-board [sudokuData]="generator"
                           [usePlay]="true"></sudokulab-key-board>
      <div class="working-container compact-visible" *ngIf="generator.running$|async">
        <mat-progress-spinner class="working-spinner"
                              diameter="300"
                              color="accent"
                              strokeWidth="12"
                              mode="indeterminate"></mat-progress-spinner>
        <div class="working-counter">{{(working$|async)||''}}</div>
      </div>
    </div>
<!--    <sudokulab-generator-toolbar></sudokulab-generator-toolbar>-->
    <div class="bottom-board" fxFlex></div>
  </div>
  <div class="tools tools-right" fxFlex>
    <sudokulab-generator-info class="compact-visible"></sudokulab-generator-info>
    <sudokulab-generator-options class="compact-visible"></sudokulab-generator-options>
    <sudokulab-generator-state></sudokulab-generator-state>
  </div>
</div>

