<div class="sudokulab-board"
     #schemaElement
     [ngClass]="{'lines': !!!(playSudoku$|async)}">
  <div class="empty-text" *ngIf="!!!(playSudoku$|async)">{{emptyText}}</div>
  <div class="sudokulab-board-background"
       fxLayout="column">
    <div class="sudokulab-board-row"
         *ngFor="let row of rows$|async"
         fxLayout="row" fxLayoutAlign="start center">
      <div class="sudokulab-board-cell"
           [class.pencil-mode]="!!(playSudoku$|async)?.options?.usePencil"
           *ngFor="let col of cols$|async">
        <div class="cell-container"
             *ngIf="((playSudoku$|async)?.cells||{})[col+'.'+row] as cell"
             fxLayout="row" fxLayoutAlign="center center"
             [ngStyle]="cellStyle$|async"
             (click)="select(col, row)"
             [class.fixed]="cell.fixed"
             [class.selected]="cell.id === (selected$|async)"
             [class.right-line]="((grline$|async)||{})[col]"
             [class.bottom-line]="((grline$|async)||{})[row]"
             [class.error]="cell.error"
             [class.highlight]="((highlights$|async)||{})[cell.id]"
             [class.highlight-secondary]="((otherHighlightsCells$|async)||{})[cell.id]"
             [class.highlight-cell]="((highlightsCell$|async)||{})[cell.id]">
          <div class="cell-value" [ngClass]="{'pulse': ((highlightStep$|async)||{})[cell.id]}">{{cell?.value}}</div>
          <sudokulab-cell-values
            *ngIf="!cell?.value"
            [class.pencil-values]="true"
            [rank]="(playSudoku$|async)?.sudoku?.rank"
            [values]="cell.pencil"></sudokulab-cell-values>
          <sudokulab-cell-values
            *ngIf="(showAvailable$|async) && !cell?.value && (cell?.pencil||[]).length<=0"
            [rank]="(playSudoku$|async)?.sudoku?.rank"
            [values]="cell.availables"></sudokulab-cell-values>
        </div>
      </div>
    </div>
  </div>
</div>
