<div mat-dialog-title fxLayout="row" fxLayoutAlign="start center">
  <div fxFlex>Take a picture</div>
  <button mat-icon-button *ngIf="((devices$|async)||[]).length>1" [matMenuTriggerFor]="menu">
    <mat-icon>videocam</mat-icon>
  </button>
  <button mat-icon-button (click)="close()">
    <mat-icon>close</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item
            *ngFor="let dev of (devices$|async)"
            (click)="setMedia(dev)">{{dev.name}}</button>
  </mat-menu>
</div>
<div class="dialog-container" mat-dialog-content>
  <div class="webcam">
    <video #webcam class="hidden"></video>
    <canvas #canvas></canvas>
  </div>
  <div class="button-acquire-container" *ngIf="isRunning$|async">
    <button class="button-acquire" mat-fab color="accent" (click)="acquire()">
      <mat-icon>camera</mat-icon>
    </button>
  </div>
</div>
