.details-container {
  white-space: pre-wrap;
  overflow: auto;
}

.lines-header {
  position: relative;
  text-align: center;
  &.allow-close {
    min-height: 24px;
  }
  img {
    width: 100px;
  }
  .close-button {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.lines-container {
  .detail-line {
    background-color: rgba(1,1,1,.05);
    &.result-line {
      cursor: pointer;
      &:hover {
        background-color: rgba(1,1,1,.1);
        font-weight: bold;
      }
    }
    .line-text {
      font-family: monospace;
      background-color: white;
      padding: 3px 10px;
      &.title {
        font-weight: bold;
        padding: 6px 10px 3px;
      }
    }
    .line-number {
      text-align: right;
      padding: 0 10px;
      border-right: rgba(1,1,1,.2) 1px solid;
      opacity: .5;
      font-size: .8em;
      width: 16px
    }
  }
}

.hidden-line {
  &:not(.visible-line) {
    .line-text {
      filter: blur(4px);
    }
  }
}
