@import "../variables";

.container {
  width: 100%;
  height: 100%;
}
.central-container {
  position: relative;
  .vertical-toolbar {
    width: 60px;
    height: 100%;
    padding: 10px;
  }
  .page-container {
    position: relative;
    height: 100%;
  }
}
.title {
  padding: 0 20px;
  font-weight: 100;
  opacity: .5;
}
.button-separator {
  width: 20px;
}

.logo {
  font-weight: 100;
  font-size: 1.2em;
  .logo-lab {
    color: $color-primary-highlight;
  }
}
