<div class="container" fxLayout="column">
  <mat-toolbar class="sudokulab-toolbar" color="primary">
    <span class="logo">Sudoku<span class="logo-lab">Lab</span></span>
    <span class="title" fxFlex>{{(page$|async)?.title}}</span>
    <ng-container *ngFor="let pgbtn of ((page$|async)?.buttons||[])">
      <div class="button-separator" *ngIf="pgbtn.separator && !((status$|async)||{})[pgbtn?.invisibleKey||'']"></div>
      <button mat-icon-button
              *ngIf="!pgbtn.separator && !((status$|async)||{})[pgbtn?.invisibleKey||'']"
              [matTooltip]="pgbtn.tooltip||''"
              [disabled]="!!((status$|async)||{})[pgbtn?.disabledKey||'']"
              [matTooltipDisabled]="!pgbtn.tooltip"
              (click)="execute(pgbtn.code||'')">
        <mat-icon>{{pgbtn.icon}}</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
  <div class="central-container" fxFlex fxLayout="row" fxLayoutAlign="center start">
    <div class="vertical-toolbar background2" fxLayout="column">
      <button *ngFor="let pag of (pages$|async)||[]"
              mat-icon-button
              [ngClass]="{'selected': pag.code === (page$|async)?.code}"
              [matTooltip]="pag.title"
              (click)="openPage(pag)">
        <mat-icon>{{pag.icon}}</mat-icon>
      </button>
    </div>
    <div class="page-container" fxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
