<div class="container" fxLayout="column">
  <div class="top-toolbar"></div>
  <div class="central-container" fxLayout="row" fxFlex>
    <div class="tools tools-left" fxFlex>
      <sudokulab-info></sudokulab-info>
    </div>
    <div class="board-container" fxLayout="column">
      <div class="board">
        <sudokulab-board></sudokulab-board>
      </div>
      <div class="bottom-board" fxFlex></div>
    </div>
    <div class="tools tools-right" fxFlex>
      <sudokulab-schemas></sudokulab-schemas>
    </div>
  </div>
  <div class="bottom-toolbar" fxLayout="row" fxLayoutAlign="start center">
    <button mat-raised-button (click)="clear()">Clear</button>
    <button mat-raised-button (click)="step()">Solve step</button>
    <button mat-raised-button (click)="solve()">Solve all</button>
  </div>
</div>
