@import "../../../variables";

.schemalab-schemas {
  height: 100%;
}

.schemas-container {
  min-height: 400px;
}

.schemalab-schemas-toolbar {
  height: 60px;
  margin-bottom: 20px;
  .difficulty-combo {
    min-width: 60px;
  }
}

.schemas-counter {
  font-size: 36px;
  font-weight: bold;
  padding-left: 20px;
  user-select: none;
  text-align: center;
  .schemas-counter-total {
    font-size: 10px;
    opacity: .6;
  }
}

::ng-deep {
  .schemas-item {
    height: 30px;
    position: relative;
    cursor: pointer;
    &:hover {
      background-color: rgba(10, 10, 10, .1);
      &.color-primary {
        background-color: $color-primary-transp !important;
      }
    }
    .hash {
      font-family: monospace;
      opacity: .6;
    }
    .schema-name {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
