@import "../../../variables";

.schemalab-schemas {
  height: 100%;
}

.list-container {
  position: relative;
  min-height: 400px;

  .schemas-container {
    height: 100%;
  }
  .open-button {
    position: fixed;
    bottom: 50px;
    right: 50px;
  }
}

.thumbnail {
  height: 30px;
  width: 30px;
  margin-right: 20px;
}

.schemalab-schemas-toolbar {
  height: 60px;
  margin-bottom: 20px;
  .difficulty-combo {
    min-width: 60px;
  }
}

.schemas-counter {
  font-size: 36px;
  font-weight: bold;
  padding-left: 20px;
  user-select: none;
  text-align: center;
  .schemas-counter-total {
    font-size: 10px;
    opacity: .6;
  }
}

::ng-deep {
  .schemas-item {
    height: 30px;
    position: relative;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    margin-bottom: 2px;
    > * {
      user-select: none;
    }
    &:hover {
      background-color: rgba(10, 10, 10, .1);
      &.color-accent {
        background-color: $color-accent-transp !important;
      }
      &.color-primary {
        background-color: $color-primary-transp !important;
      }
    }
    .hash-container {
      position: relative;
      width: 30%;
      height: 100%;
    }
    .hash {
      user-select: none;
      position: absolute;
      width: 100%;
      left: 0;
      font-family: monospace;
      opacity: 0.6;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      line-height: 30px;
      font-size: 18px;
    }
    .difficulty {
      opacity: .5;
      font-size: .8em;
      margin: 0 10px;
    }
    .schema-name {
      position: relative;
      height: 100%;
      .name {
        position: absolute;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 100%;
        line-height: 30px;
      }
    }
  }
}

