<div class="schemalab-tool schemalab-schemas compact-size-600" fxLayout="column">
  <div class="schemalab-schemas-toolbar"
       fxLayout="row" fxLayoutAlign="start center">
    <mat-form-field appearance="outline" class="no-wrapper-padding difficulty-combo" fxFlex>
      <mat-label>Sort by</mat-label>
      <mat-select [value]="(options$|async)?.sortBy"
                  (valueChange)="applySort($event)">
        <mat-option *ngFor="let sbi of availableSortBy" [value]="sbi.code">
          {{sbi.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="schemas-counter" fxLayout="column">
      <div>{{counter$|async}}</div>
      <div *ngIf="!!!(options$|async)?.try" class="schemas-counter-total">{{total$|async}}</div>
    </div>
    <button mat-icon-button
            (click)="toggleAsc()"
            matTooltip="Asc or desc sort">
      <mat-icon>{{(options$|async)?.asc ? 'south' : 'north'}}</mat-icon>
    </button>
    <button mat-icon-button
            (click)="toggleTry()"
            matTooltip="include schemas that use the try algorithm"
            [ngClass]="{'color-primary': !!(options$|async)?.try}">
      <mat-icon>generating_tokens</mat-icon>
    </button>
  </div>
  <cdk-virtual-scroll-viewport
    class="schemas-container"
    itemSize="30" fxFlex>
    <sudokulab-schemas-item
      *cdkVirtualFor="let schema of schemas$|async"
      [active]="(activeId$|async) === schema._id"
      (onClick)="select($event)"
      [schema]="schema"></sudokulab-schemas-item>
  </cdk-virtual-scroll-viewport>
</div>
