@import "../../../variables";

[evidence] {
  padding: 20px;
}

[ndr] {
  opacity: .5;
  font-style: italic;
}

[underline] {
  text-decoration: underline;
}

[code] {
  font-family: monospace;
  font-size: 2em;
}

[bold] {
  font-weight: bold;
}

.author-name {
  text-decoration: none;
}

.help-content {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  text-align: center;
  .help-image {
    max-width: 100%;
    margin: 20px 0;
    border: rgba(10, 10, 10, .3) 1px solid;
  }
}

.sudokulab-page-help {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  .help-content {
    padding: 40px;
  }
}

.logo-container {
  margin-bottom: 80px;
}

.github-logo {
  max-width: 50px;
  display: block;
  margin: 20px auto;
  padding: 20px;
}

.help-line {
  margin-top: 35px;
}

.logo {
  font-size: 4em;
  font-weight: 100;
  padding: .5em;
  border-radius: 1em;
  background: rgba(10,10,10,.1);
}

.project-info {
  padding: 50px 0;
  text-align: center;
}

.schema-t {
  padding: 5px;
  background-color: #ff4081;
  color: whitesmoke;
  border-radius: 50%;
  font-size: 24px;
  margin-right: 10px;
}

.toolbar-commands {
  .mat-icon {
    border-radius: 50%;
    padding: 4px;
    background-color: $color-hover;
    margin-top: 10px;
  }
}

.small-image {
  max-width: 300px !important;
  max-height: 300px !important;
}

::ng-deep {
  .theme-light {
    .help-content {
      [evidence] {
        border-left: #3f51b5 4px solid;
        background: rgba(10, 10, 10, .05);
      }
      .help-line {
        border-top: $color-border 1px solid;
      }

      .toolbar-commands {
        .mat-icon {
          background-color: $color-hover;
        }
      }
    }
  }
  .theme-dark {
    .help-content {
      [evidence] {
        border-left: #3f51b5 4px solid;
        background: $color-hover-dark;
      }
      .help-line {
        border-top: $color-border-dark 1px solid;
      }
      .toolbar-commands {
        .mat-icon {
          background-color: $color-hover-dark;
        }
      }
    }
  }
}
