.key-board {
  padding-right: 5px;
  overflow: hidden;
  &.disabled {
    opacity: .2;
    pointer-events: none;
  }
}

.key-number {
  //padding: 4px 0;
  border: rgba(10,10,10,.1) 1px solid;
  font-size: 30px;
  //text-align: center;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
  border-radius: 50%;
  margin: 4px;
  width: 46px;
  height: 46px;

  &.filled,
  &.disabled {
    opacity: .2;
    cursor: not-allowed;
    pointer-events: none;
  }
  &.used {
    color: #ff4081;
  }
  &:hover {
    background-color: rgba(10,10,10,.1);
  }
  >.mat-icon {
    font-size: inherit;
    height: 1em;
    width: 1em;
  }
}

@media only screen and (max-width: 640px) {
  .key-board {
    .key-number {
      border: none;
      margin: 0;
      font-size: 26px;
      width: auto;
    }
  }
}
