<div class="key-board"
     fxLayout="row" fxLayoutAlign="start center">
  <div class="key-number"
       *ngFor="let kn of numbers$|async"
       [class.filled]="!!((status$|async)||{})[kn]&&!(isPencil$|async)"
       [class.used]="!!((usedStatus$|async)||{})[kn]&&!!(isPencil$|async)"
       fxLayout="row" fxLayoutAlign="center center"
       matTooltip="clear cell"
       [matTooltipDisabled]="kn!=='x'"
       (click)="clickOnNumber(kn)"
       fxFlex>
    <mat-icon *ngIf="kn==='x'">check_box_outline_blank</mat-icon>
    <span *ngIf="kn!=='x'">{{kn}}</span>
  </div>
  <div class="key-number"
       *ngIf="usePencil"
       matTooltip="pencil mode"
       (click)="togglePencil()"
       [class.color-accent]="isPencil$|async"
       fxLayout="row" fxLayoutAlign="center center"
       fxFlex>
    <mat-icon>edit</mat-icon>
  </div>
  <div class="key-number color-success"
       *ngIf="usePlay && (playState$|async)==='play'"
       matTooltip="play generation"
       (click)="play()"
       fxLayout="row" fxLayoutAlign="center center"
       fxFlex>
    <mat-icon>play_arrow</mat-icon>
  </div>
  <div class="key-number color-error"
       *ngIf="usePlay && (playState$|async)==='stop'"
       matTooltip="stop generation"
       (click)="stop()"
       fxLayout="row" fxLayoutAlign="center center"
       fxFlex>
    <mat-icon>stop</mat-icon>
  </div>
  <div class="key-number disabled"
       *ngIf="usePlay && (playState$|async)==='stopping'"
       matTooltip="stopping..."
       fxLayout="row" fxLayoutAlign="center center"
       fxFlex>
    <mat-icon>pause</mat-icon>
  </div>
</div>
