<div class="key-board"
     [ngClass]="{'disabled': !!!(isActive$|async)}"
     fxLayout="row" fxLayoutAlign="start center">
  <div class="key-number"
       [ngClass]="{'filled': !!((status$|async)||{})[kn]}"
       *ngFor="let kn of numbers$|async"
       (click)="clickOnNumber(kn)"
       fxFlex>{{kn}}</div>
  <div class="key-number"
       *ngIf="usePencil"
       (click)="togglePencil()"
       [ngClass]="{'color-accent': isPencil$|async}"
       fxFlex>
    <mat-icon>edit</mat-icon>
  </div>
</div>
