.cell-available-values-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 0.4em;
  font-weight: normal;
  opacity: .5;
  .cell-available-value {
    display: inline-block;
    text-align: center;
  }
}
