.sudokulab-page-print {
  --sdk-page-print-padding: 50px;
  --sdk-page-print-size: 80px;

  width: 100%;
  overflow: hidden;
}

.pages-container {
  height: 100%;
  overflow: auto;
  padding: 80px var(--sdk-page-print-padding);
  box-sizing: border-box;
  position: relative;
}

.print-title {
  position: absolute;
  width: 100%;
  padding: 20px calc(var(--sdk-page-print-padding) + 30px);
  font-size: 1.2em;
}


print-page {
  height: calc(var(--sdk-page-print-size) * 4);
  width: calc(var(--sdk-page-print-size) * 3);
  margin: 10px;
  border: var(--sdk-color-border) 1px solid;
  background-color: white;
  display: inline-block;
  position: relative;
  box-sizing: border-box;

  &[mode=add] {
    border-width: 2px;
    border-style: dashed;
    background-color: transparent;
    opacity: .1;
    transition: opacity ease-in-out .4s;

    &:hover {
      opacity: 1;
    }
  }
}

.schemas-browser-tool {
  .schemas-container {
    overflow: auto;
    width: 350px;

    .schemas-browser {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
    }
  }
}

::ng-deep {
  .layout-compact {
    .sudokulab-page-print {
      --sdk-page-print-padding: 20px;
      --sdk-page-print-size: 50px;

      .print-title {
        font-size: .9em;
      }

      .schemas-container {
        width: 64px !important;
      }
    }
  }
}
