<div class="sudokulab-page sudokulab-page-print" fxLayout="row">
  <div class="print-container" fxFlex>
    <div class="print-title">{{pagesCount$|async}}<span class="opacity-4"> pages with </span>{{schemaCount$|async}}<span class="opacity-4"> schemas</span></div>
    <div class="pages-container">
      @for (page of printDocument.pages$|async; track page.id; let index = $index) {
        <print-page [pageId]="page.id" [index]="index"></print-page>
      }
      <print-page mode="add"></print-page>
    </div>
  </div>
  <div class="schemas-browser-tool" fxLayout="column">
    <schemas-toolbar
      class="compact-hidden"
      persistenceKey="print"
      (onFilter)="setSchemas($event)"
    ></schemas-toolbar>
    <div class="schemas-container" fxFlex>
      <schemas-browser
        [schemas]="schemas$|async"
        [activeSchema]="printDocument.activePageSchema$|async"
        [allowCompact]="true"
        (clickOnSchema)="printDocument.addSchema($event.values)"
      ></schemas-browser>
    </div>
  </div>
</div>
