.svg-interactive-board {
  &.disabled {
    opacity: .4;
  }
}

.svg-board-cell {
  transition: fill .5s ease-in-out;
  fill: transparent;
  &.svg-selection-cell {
    stroke-width: 1;
    transform: scale(.9);
    transform-origin: center;
    transform-box: border-box;
    pointer-events: none;
  }
}

.svg-board-cell-text {
  font-size: 6px;
  font-weight: 100;
  transition: fill .5s ease-in-out;
  transform-box: fill-box;
  transform-origin: 50% 50%;
  &.fixed {
    font-weight: bold;
  }
  &.svg-pulse {
    font-weight: bold;
    animation: svg-pulse 2s infinite;
  }
}

.popup-value {
  font-size: 5px;
  font-weight: 500;
  transform-box: fill-box;
  transform-origin: 50% 50%;
  transition: font-size ease-in-out;
  // user-select: none;
  &:hover {
    font-size: 8px;
  }
}

.popup-watch-value {
  font-size: 10px;
  font-weight: bold;
  user-select: none;
}

.svg-board-cell-values-text {
  font-size: 2px;
}

.svg-board-line,
.svg-board-cell-text,
.svg-board-cell-values-text {
  user-select: none;
  pointer-events: none;
}
