::ng-deep {
  .layout-narrow {
    .sudokulab-toolbar {
      .logo {
        font-size: .8em;
        margin-right: 10px;

        .sub-title {
          margin-top: 0 !important;
        }
      }
    }
  }
}

.sudokulab-toolbar {
  min-height: 56px;
}

.title {
  padding: 0 20px;
  font-weight: 100;
  opacity: .5;
}

.logo {
  font-weight: 100;
  font-size: 1.2em;
  user-select: none;
  cursor: pointer;
  margin-right: 40px;

  .sub-title {
    font-size: .45em;
    font-weight: 100;
    opacity: .5;
    line-height: 1;
    margin-top: 4px;
  }

}
.github-logo-image {
  width: 40px;
  height: 40px;
}

.toolbar-state-icon {
  margin-left: 4px;
}

.author-popup {
  >img {
    width: 40px
  }
  .author-data {
    line-height: 1.4;
    margin: 0 10px;
    font-size: 19px;
    font-weight: 100;

    .author-name {
      opacity: .6;
      font-size: 13px;
    }
  }
}
