@if (globalState.isRunning()) {
  <mat-progress-bar mode="indeterminate" class="top-loading-bar"></mat-progress-bar>
}
@let mgr = manager();
@let opts = options();
<div class="sudokulab-page page-fill flex-row">
  <div class="page-space flex-1"></div>
  <div class="page-content" [ngClass]="layout()==='column' ? 'flex-col' : 'flex-row'">


  <div class="generator-options narrow-hidden overflow-auto flex-col flex-1">
    <div class="stat-monitor flex-col">
      @for (l of lines(); track l.description) {
        <div class="stat-line flex-row flex-align-start-center"
             [class.evidence]="!!l.evidence">
          <div class="stat-line-desc">{{l.description}}</div>
          <div class="stat-line-value">{{l.value}}</div>
        </div>
      }
      <div class="stat-line evidence flex-row flex-align-start-center">
        <div class="stat-line-desc">Values to add</div>
        <div class="stat-line-value">{{valuesToAdd()}}</div>
      </div>
    </div>
    @if (mgr) {
      <generator-options
        [manager]="mgr"
        [options]="opts"
        (onOptionsChanged)="updateOptions($event)"
      ></generator-options>
    }
  </div>
  <div class="schema-container">
    <sudoku-board
      [logic]="logic"
      (onReady)="ready($event)"
      (pasteSchemaRequest)="pasteSchema($event)"
    ></sudoku-board>
    @if (mgr) {
      <schema-toolbar
        [manager]="mgr"
        [template]="toolbarTemplate"
        [disabled]="globalState.isRunning()"
      ></schema-toolbar>
    }
  </div>
  <div class="generator-results narrow-visible">
    @if (mgr) {
      <generator-schemas
        [manager]="mgr"
        (clickOnSchema)="clickOnGeneratedSchema($event)"
      ></generator-schemas>
    }
  </div>
  <div class="generator-options narrow-visible">
    @if (mgr) {
      <generator-options
        [manager]="mgr"
        [options]="opts"
        (onOptionsChanged)="updateOptions($event)"
      ></generator-options>
    }
  </div>
  <div class="generator-results narrow-hidden flex-1">
    @if (mgr) {
      <generator-schemas
        [manager]="mgr"
        (clickOnSchema)="clickOnGeneratedSchema($event)"
      ></generator-schemas>
    }
  </div>


  </div>
  <div class="page-space flex-1"></div>
</div>
