::ng-deep {
  .layout-narrow {
    .generator-board {
      width: 100% !important;
    }
  }
}

.generator-board {
  width: 40%;
  padding: 6px;
  box-sizing: border-box;
}

.generator-results {
  position: relative;
}
