<div class="sudoku-thumbnail" fxLayout="column">
  <div class="thumbnail-schema-container">
    <div class="thumbnail-row"
         *ngFor="let row of rows$|async"
         fxLayout="row" fxLayoutAlign="start center">
      <div class="thumbnail-cell"
           *ngFor="let col of cols$|async">
        <div class="thumbnail-cell-value-container"
             fxLayout="row" fxLayoutAlign="center center"
             *ngIf="((cells$|async)||{})[col+'.'+row] as cell"
             [ngStyle]="cellStyle$|async"
             [ngClass]="{'fixed': !!cell, 'right-line': ((grline$|async)||{})[col], 'bottom-line': ((grline$|async)||{})[row]}">
          <div class="cell-value">{{cell}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="thumbnail-description">{{description$|async}}</div>
</div>
