/* You can add global styles to this file, and also import other style files */
@import "variables";


html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.sudokulab-board {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.sudokulab-scrollbar {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(10,10,10,.1);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.mat-form-field {
  &.no-wrapper-padding {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}


.hidden {
  visibility: hidden;
}

.lines {
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 6px,
      rgba(10,10,10,.1) 1px,
      rgba(10,10,10,.1) 8px);
}

.sudokulab-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 20px;
}

.schemalab-tool {
  padding: 0 10px;
}

.message-type-error {
  background-color: $color-error !important;
  color: $color-error-contrast !important;
}
.message-type-warning {
  background-color: $color-warning !important;
  color: $color-warning-contrast !important;
}
.message-type-info {
  background-color: $color-info !important;
  color: $color-info-contrast !important;
}
.message-type-success {
  background-color: $color-success !important;
  color: $color-success-contrast !important;
}

.text-center {
  text-align: center;
}

.button-menu-separator {
  border-bottom: rgba(10,10,10,.1) 1px solid;
  height: 10px;
  margin-bottom: 10px;
}

.background2 {
  background-color: $color-background;
  .selected {
    background-color: $color-background-selected;
  }
}

.color-primary {
  background-color: $color-primary;
  color: $color-primary-contrast;
}

.color-accent {
  background-color: $color-accent;
  color: $color-accent-contrast;
}

.cell-container {
  background: $color-board-background;
  color: $color-board-background-contrast !important;
  border: 1px solid $color-border;
  font-weight: 100;
  user-select: none;
  &.fixed {
    //color: lightgreen !important;
    font-weight: bold;
  }
  &:not(.fixed),
  &.hover-all {
    &:hover {
      // background-color: lightgreen !important;
      background-color: $color-hover;
    }
  }
  &.bottom-line {
    border-bottom: 2px solid $color-border-highlight !important;
  }
  &.right-line {
    border-right: 2px solid $color-border-highlight !important;
  }
}

.compact-visible {
  display: none !important;
}


.compact {
  .compact-visible {
    display: block !important;
  }
  .compact-hidden {
    display: none !important;
  }
  .sudokulab-page {
    overflow: auto;
    min-width: 640px;
  }

  .compact-size-600 {
    width: 600px;
    margin-left: calc(50% - 300px);
  }

  .options-tool {
    &.compact-auto-height {
      height: auto;
      padding: 20px 0 !important;
    }
  }

  .tools {
    &:not(.compact-auto-height) {
      min-height: 600px;
    }
    .schemalab-tool {
      padding: 0;
    }
  }
}

.tool-label {
  opacity: .5;
  padding: 10px 0 24px 0;
  user-select: none;
}

@media only screen and (max-width: 1300px) {

}

@media only screen and (max-width: 640px) {
  .compact {
    .sudokulab-page {
      // zoom: .5;
    }
  }
}
