/* You can add global styles to this file, and also import other style files */
@import "variables";
@import "theme-light";
@import "theme-dark";

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.sudokulab-board {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.sudokulab-scrollbar {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(10,10,10,.1);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.mat-form-field {
  &.no-wrapper-padding {
    .mat-form-field-wrapper {
      padding-bottom: 0;
    }
  }
}

.mat-snack-bar-container {
  .mat-simple-snackbar-action {
    color: inherit !important;
  }
  //.mat-button-wrapper {
  //  color: inherit;
  //}
}

.hidden {
  visibility: hidden;
}


.sudokulab-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 20px;
}

.blur {
  filter: blur(4px);
}

.schemalab-tool {
  padding: 0 10px;
}


.text-center {
  text-align: center;
}

.button-menu-separator {
  height: 10px;
  margin-bottom: 10px;
}



.cell-container {
  font-weight: 100;
  user-select: none;
  &.fixed {
    font-weight: bold;
  }
  &:not(.fixed),
  .cell-value {
    transition: color .5s ease-in-out;
  }
}

.compact-visible {
  display: none !important;
}


.compact {
  .compact-visible {
    display: block !important;
  }
  .compact-hidden {
    display: none !important;
  }
  .sudokulab-page {
    overflow: auto;
  }

  .compact-blur {
    filter: blur(4px);
  }

  .options-tool {
    &.compact-auto-height {
      height: auto;
      padding: 20px 0 !important;
    }
  }

  .tools {
    .schemalab-tool {
      padding: 0;
    }
  }
}

.tool-label {
  opacity: .5;
  padding: 10px 0 24px 0;
  user-select: none;
}


.pulse {
  animation: pulse 2s infinite;
  font-weight: bold;
}

.contrast-button {
  border-color: $color-accent-transp !important;
  &:hover {
    border-color: $color-accent !important;
  }
  &[disabled] {
    background-color: transparent !important;
    border-color: #666 !important;
    color: #666 !important;
  }
}



@media only screen and (max-width: 1450px) {
  .compact-size-600 {
    width: 600px;
  }
  .sudokulab-page {
    padding-right: 10px;
    padding-left: 10px;
  }
  .full-screen {
    max-width: 100vw !important;
    width: 100vw !important;
  }
}


@media only screen and (max-width: 640px) {
  .compact-size-600,
  .tools,
  .board-container,
  .board {
    width: 100% !important;
    .empty-text {
      font-size: 7vw !important;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
  }
  70% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
