/* You can add global styles to this file, and also import other style files */
@import "variables";


html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body { font-family: Roboto, "Helvetica Neue", sans-serif; }

.sudokulab-board {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.hidden {
  visibility: hidden;
}

.lines {
  background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 6px,
      rgba(10,10,10,.1) 1px,
      rgba(10,10,10,.1) 8px);
}

.sudokulab-page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 20px;
}

.page-button {
  height: 65px !important;
  width: 65px !important;
  margin-top: -2px !important;
  margin-left: -16px !important;
  border-radius: 0 !important;
  border-right: rgba(200,200,200,.5) 1px solid !important;
  &:hover {
    background-color: yellowgreen;
  }
}

.schemalab-tool {
  padding: 0 10px;
}

//button {
//  &.selected {
//    background: yellowgreen;
//  }
//}

.message-type-error {
  background-color: $color-error !important;
  color: $color-error-contrast !important;
}
.message-type-warning {
  background-color: $color-warning !important;
  color: $color-warning-contrast !important;
}
.message-type-info {
  background-color: $color-info !important;
  color: $color-info-contrast !important;
}
.message-type-success {
  background-color: $color-success !important;
  color: $color-success-contrast !important;
}


.background2 {
  background-color: $color-background;
  .selected {
    background-color: $color-background-selected;
  }
}

.cell-container {
  background: $color-board-background;
  color: $color-board-background-contrast !important;
  border: 1px solid $color-border;
  font-weight: 100;
  user-select: none;
  &.fixed {
    //color: lightgreen !important;
    font-weight: bold;
  }
  &:not(.fixed),
  &.hover-all {
    &:hover {
      // background-color: lightgreen !important;
      background-color: $color-hover;
    }
  }
  &.bottom-line {
    border-bottom: 2px solid $color-border-highlight !important;
  }
  &.right-line {
    border-right: 2px solid $color-border-highlight !important;
  }
}

.dark-theme {
  .cell-container {
    background: #333 !important;
    color: whitesmoke;
    border: 1px solid rgba(200,200,200,.1) !important;
    &.fixed {
      //color: lightgreen !important;
    }
    &:not(.fixed) {
      &:hover {
        background-color: lightgreen !important;
      }
    }
    &.bottom-line {
      border-bottom: 2px solid $color-border-highlight !important;
    }
    &.right-line {
      border-right: 2px solid $color-border-highlight !important;
    }
  }
}

@media only screen and (max-width: 1300px) {

}
