@import "variables";

.theme-light {

  background-color: $color-background;
  color: $color-background-contrast;

  .message-type-error {
    background-color: $color-error !important;
    color: $color-error-contrast !important;
  }

  .message-type-warning {
    background-color: $color-warning !important;
    color: $color-warning-contrast !important;
  }

  .message-type-info {
    background-color: $color-info !important;
    color: $color-info-contrast !important;
  }

  .message-type-success {
    background-color: $color-success !important;
    color: $color-success-contrast !important;
  }

  .message-type-highlight {
    background-color: $color-accent !important;
    color: $color-accent-contrast !important;
  }

  .background {
    background-color: $color-background;
    color: $color-background-contrast;

    .selected {
      background-color: $color-background-selected;
    }
  }

  .background2 {
    background-color: $color-background2;

    .selected {
      background-color: $color-background-selected;
    }
  }

  .background3 {
    background-color: $color-background3;

    .selected {
      background-color: $color-background-selected;
    }
  }

  .text-color-primary {
    color: $color-primary !important;
  }

  .text-color-error {
    color: $color-error !important;
  }

  .text-color-accent {
    color: $color-accent !important;
  }

  .color-primary {
    background-color: $color-primary;
    color: $color-primary-contrast;
  }

  .color-accent {
    background-color: $color-accent;
    color: $color-accent-contrast;
  }

  .color-success {
    background-color: $color-success;
    color: $color-success-contrast;
  }
  .color-error {
    background-color: $color-error2;
    color: $color-error-contrast;
  }

  .color-accent-important {
    background-color: $color-accent !important;
    color: $color-accent-contrast !important;
  }

  .cell-container {
    background: $color-board-background;
    color: $color-board-background-contrast !important;
    border: 1px solid $color-border;

    &.hover-all {
      &:hover {
        background-color: $color-hover;
      }
    }

    &.bottom-line {
      border-bottom: 2px solid $color-border-highlight !important;
    }

    &.right-line {
      border-right: 2px solid $color-border-highlight !important;
    }

    &.error {
      color: $color-error2 !important;
    }
  }

  .pencil-mode {
    .cell-container {
      &.bottom-line {
        border-bottom-color: $color-accent !important;
      }
      &.right-line {
        border-right-color: $color-accent !important;
      }
    }
  }

  .logo-lab {
    color: $color-primary-highlight;
  }

  .pulse {
    color: $color-accent;
  }

  .button-menu-separator {
    border-bottom: $color-hover 1px solid;
  }

  .lines {
    background: repeating-linear-gradient(
        45deg,
        transparent,
        transparent 6px,
        $color-hover 1px,
        $color-hover 8px);
  }
  .svg-board {
    .svg-board-cell {
      fill: $color-background-contrast;
    }
  }
  .svg-board-popup-selection {
    fill: $color-background;
  }
  .popup-value {
    fill: $color-background-contrast;
  }
  .popup-watch-value {
    fill: $color-primary;
  }
  .svg-interactive-board {
    .svg-board-background {
      fill: $color-background-board;
    }
    .svg-board-cell {
      stroke: #ddd;
      &.svg-selection-cell {
        stroke: $color-accent;
      }
      &.highlight-secondary {
        fill: rgba(255, 64, 129, 0.2);
      }
      &.highlight {
        fill: rgba(255, 64, 129, 0.8);
        .svg-board-cell-text {
          fill: white;
        }
      }
      &.dynamic {
        fill: $color-background2;
      }
      &.error {
        fill: rgba($color-error2, .4);
      }
    }
    .svg-board-line {
      stroke: $color-background-contrast;
    }
    .svg-board-cell-text {
      fill: $color-background-contrast;
      &.error {
        fill: $color-error2;
      }
      &.svg-pulse {
        fill: $color-accent;
      }
    }
    .svg-board-cell-values-text {
      fill: $color-accent;
    }
    &.pencil {
      .svg-board-line {
        stroke: $color-accent;
      }
    }
  }



  .pencil-values {
    .cell-available-value {
      color: $color-accent;
    }
  }

}
