$color-error: #ff6e42;
$color-error-contrast: whitesmoke;
$color-warning: #ffb762;
$color-warning-contrast: whitesmoke;
$color-info: #82a2f1;
$color-info-contrast: #333;
$color-success: #9dff57;
$color-success-contrast: #333;

$color-background: #eee;
$color-background-selected: #bbb;
$color-board-background: whitesmoke;
$color-board-background-contrast: #333;
$color-border: rgba(100,100,100,.1);
$color-border-highlight: #666;
$color-hover: rgba(10,10,10,.1);

$color-accent: #3f51b5;
