// DEFAULT / LIGHT COLORS
$color-error: #ff6e42;
$color-error2: orangered;
$color-error-contrast: whitesmoke;
$color-warning: #e5953c;
$color-warning-contrast: whitesmoke;
$color-info: #7d95ce;
$color-info-contrast: whitesmoke;
$color-success: #60a13f;
$color-success-contrast: whitesmoke;

$color-background: #fff;
$color-background2: #ddd;
$color-background3: #aaa;
$color-background-board: rgba(1,1,1,.02);
$color-background-selected: #bbb;
$color-background-contrast: #333;
$color-board-background: whitesmoke;
$color-board-background-contrast: #333;
$color-border: rgba(100,100,100,.1);
$color-border-highlight: #666;
$color-hover: rgba(10,10,10,.1);

$color-primary: #3f51b5;
$color-primary-highlight: deepskyblue;
$color-primary-contrast: whitesmoke;
$color-primary-transp: rgba(63, 81, 181, 0.56);
$color-accent: #ff4081;
$color-accent-light: #d1ff00;
$color-accent-transp: rgba(255, 64, 129, 0.56);
$color-accent-contrast: whitesmoke;
$color-accent-popup: yellowgreen;


// DARK COLORS
$color-error-dark: #ff6e42;
$color-error2-dark: orangered;
$color-error-contrast-dark: whitesmoke;
$color-warning-dark: #e5953c;
$color-warning-contrast-dark: whitesmoke;
$color-info-dark: #7d95ce;
$color-info-contrast-dark: whitesmoke;
$color-success-dark: #60a13f;
$color-success-contrast-dark: whitesmoke;

$color-background-dark: #222;
$color-background2-dark: #333;
$color-background3-dark: #555;
$color-background-board-dark: #222;
$color-background-selected-dark: #111;
$color-background-contrast-dark: #ddd;
$color-background-contrast-dark-line: #666;
$color-board-background-dark: #555;
$color-board-background-contrast-dark: whitesmoke;
$color-border-dark: rgba(200,200,200,.3);
$color-border-highlight-dark: #666;
$color-hover-dark: rgba(200,200,200,.1);

$color-primary-dark: #627fff;
$color-primary-highlight-dark: #00ff2b;
$color-primary-contrast-dark: whitesmoke;
$color-primary-transp-dark: rgba(63, 81, 181, 0.56);
$color-accent-dark: rgba(#ff4081, .8);
$color-accent-transp-dark: rgba(255, 64, 129, 0.56);
$color-accent-contrast-dark: whitesmoke;
$color-accent-popup-dark: yellowgreen;
