<div class="generator-tool generator-info compact-size-600" *ngIf="(status$|async) as stat">
  <div fxLayout="column">
    <div class="generator-info-toolbar" fxLayout="row" fxLayoutAlign="start center">
      <div class="info-fixed color-primary" matTooltip="Number of fixed numbers">{{stat.total}}</div>
      <div class="info-line-container" fxLayout="column" fxFlex>
        <div class="generator-info-line"><span class="info-value">{{stat.fixed}}</span> fixed values</div>
        <div class="generator-info-line"><span class="info-value">{{stat.dynamics}}</span> user dynamic values</div>
        <div class="generator-info-line"><span class="info-value">{{(stat.generated)}}</span> generated dynamic values</div>
      </div>
    </div>
  </div>
</div>
