<div class="sudokulab-page sudokulab-page-options">

  <div class="options-container" fxLayout="column">
    <div class="options-group">
      <div class="options-group-title">General</div>
      <div class="options-row" fxLayout="row" fxLayoutAlign="start center">
        <mat-slide-toggle [checked]="isDarkTheme$|async"
                          (change)="setDarkTheme($event)">Dark theme</mat-slide-toggle>
      </div>
      <div class="options-row" fxLayout="row" fxLayoutAlign="start center">
        <mat-slide-toggle [checked]="isDebugMode$|async"
                          (change)="setDebugMode($event)">Debug active</mat-slide-toggle>
      </div>
      <div class="options-row" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field appearance="fill" fxFlex>
          <mat-label>Values mode</mat-label>
          <mat-select [value]="valuesMode$|async"
                      (valueChange)="setValuesMode($event)">
            <mat-option *ngFor="let vm of availableValuesModes" [value]="vm">{{vm}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="options-group" *ngIf="playerOptions$|async as opt">
      <div class="options-group-title">Player</div>
      <div class="options-row" fxLayout="row" fxLayoutAlign="start center">
        <mat-slide-toggle [checked]="opt.showPopupDetails"
                          (change)="apply($event.checked, 'showPopupDetails')">Show popup details</mat-slide-toggle>
      </div>
      <div class="options-row" fxLayout="row" fxLayoutAlign="start center">
        <mat-slide-toggle [checked]="opt.showAvailables"
                          (change)="apply($event.checked, 'showAvailables')">Show available numbers on cell</mat-slide-toggle>
      </div>
    </div>

    <div class="options-row" fxLayout="row" fxLayoutAlign="end center">
      <button mat-stroked-button
              id="google-login-button"
              color="accent"
              class="login-button contrast-button available"
              [ngClass]="{'available': googleok_check$|async}">
        <img src="assets/images/google_24.png">
        <span>Authenticate with Google</span>
      </button>
    </div>

    <div class="options-group">
      <mat-progress-bar class="progress-bar"
                        *ngIf="isOperationActive$|async"
                        [value]="operationStatus$|async"
                        mode="indeterminate"></mat-progress-bar>
      <div class="options-group-title">Management</div>
      <div class="options-row" fxLayout="row" fxLayoutAlign="start center">
        <label fxFlex>Clear all user local settings</label>
        <button mat-stroked-button (click)="clearUserSettings()">Clear all data</button>
      </div>
      <div class="options-row" fxLayout="row" fxLayoutAlign="start center">
        <label fxFlex>Opens each schema, resolve it and calc difficulty, than update it</label>
        <button mat-stroked-button (click)="manage(OPERATION.resyncAll)">Sync all schemas</button>
      </div>
    </div>
  </div>
</div>
