<div class="sudokulab-page sudokulab-page-options">

  <div class="options-container" fxLayout="column">
    <div class="options-group">
      <div class="options-group-title">General</div>
      <div class="options-row" fxLayout="row" fxLayoutAlign="start center">
        <mat-slide-toggle [checked]="isDarkTheme$|async"
                          (change)="setDarkTheme($event)">Dark theme</mat-slide-toggle>
      </div>
      <div class="options-row" fxLayout="row" fxLayoutAlign="start center">
        <mat-slide-toggle [checked]="isDebugMode$|async"
                          (change)="setDebugMode($event)">Debug active</mat-slide-toggle>
      </div>
    </div>

    <div class="options-group">
      <div class="options-group-title">Player</div>
      <div class="options-row" fxLayout="row" fxLayoutAlign="start center">
        <mat-slide-toggle [checked]="showAvailable$|async"
                          disabled="false"
                          (change)="apply($event.checked, 'showAvailables')">Show available numbers on cell</mat-slide-toggle>
      </div>
    </div>

    <div class="options-row" fxLayout="row" fxLayoutAlign="end center">
      <button mat-stroked-button
              id="google-login-button"
              color="accent"
              class="login-button contrast-button available"
              [ngClass]="{'available': googleok_check$|async}">
        <img src="assets/images/google_24.png">
        <span>Authenticate with Google</span>
      </button>
    </div>

    <div class="options-group" *ngIf="isManagement$|async">
      <mat-progress-bar class="progress-bar"
                        *ngIf="isOperationActive$|async"
                        [value]="operationStatus$|async"
                        mode="indeterminate"></mat-progress-bar>
      <div class="options-group-title">Management</div>
      <div class="options-row" fxLayout="row" fxLayoutAlign="start center">
        <label fxFlex>Opens each schema, resolve it and calc difficulty, than update it</label>
        <button mat-stroked-button (click)="manage(OPERATION.resyncAll)" [disabled]="isOperationActive$|async">Sync all schemas</button>
      </div>
    </div>
  </div>
</div>
