.options-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

::ng-deep {
  .compact {
    .options-container {
      padding: 20px;
    }
  }
}

.sudokulab-page-options {
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
  .options-container {
    padding: 40px;
  }
}

.options-group {
  padding: 24px 0 24px 24px;
  border: rgba(10,10,10,.1) 1px solid;
  margin-bottom: 24px;
  position: relative;
  .options-group-title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .options-row {
    padding: 10px;
  }
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.login-button {
  padding: 10px 16px;
  margin: 10px 0;
  opacity: 0;
  pointer-events: none;
  &.available {
    opacity: 1;
    pointer-events: auto;
  }
  img {
    margin-right: 10px;
  }
}
