<div style="padding: 50px;" fxLayout="column">
  <div>SOON...</div>
<!--  <div class="templates" fxLayout="row">-->
<!--    <mat-card class="template-card"-->
<!--              *ngFor="let tmp of templates$|async"-->
<!--              [ngClass]="{'active': tmp.code === (activeTemplate$|async)}">-->
<!--      <mat-card-header>-->
<!--        <mat-card-title>{{tmp.name}}</mat-card-title>-->
<!--        <mat-card-subtitle>contains {{tmp.schemaCount}} schemas</mat-card-subtitle>-->
<!--      </mat-card-header>-->
<!--      <img mat-card-image [src]="tmp.thumbnail" alt="template thumbnail">-->
<!--      <mat-card-content>-->
<!--      </mat-card-content>-->
<!--      <mat-card-actions>-->
<!--        <div fxFlex></div>-->
<!--        <button mat-button (click)="useThisTemplate(tmp)">USE</button>-->
<!--      </mat-card-actions>-->
<!--    </mat-card>-->
<!--  </div>-->


</div>
