<div class="print-page print-page-base"
     [ngClass]="{'background mat-elevation-z10': !!!(isAddMode$|async), 'add-page-mode': (isAddMode$|async)}">
  <div class="print-page-toolbar background" *ngIf="!!!(isAddMode$|async)" fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex></div>
    <button mat-icon-button (click)="clear()" matTooltip="clear content">
      <mat-icon>border_clear</mat-icon>
    </button>
    <button mat-icon-button (click)="remove()" *ngIf="!!!(alone$|async)" matTooltip="remove this page">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="print-page-content" fxLayout="column">
    <div class="print-page-add" *ngIf="(isAddMode$|async)" (click)="add()" fxFlex>
      <mat-icon>add</mat-icon>
    </div>
    <div class="print-page-area"
         [ngClass]="{'active': (activeId$|async) === (page$|async)?.id+'_top'}"
         (click)="setActive('top')"
         fxFlex>
      <svg-board *ngIf="!!((page$|async)?.schema||{}).top" [sudoku]="((page$|async)?.schema||{}).top"></svg-board>
    </div>
    <div class="print-page-area top-line"
         [ngClass]="{'active': (activeId$|async) === (page$|async)?.id+'_bottom'}"
         (click)="setActive('bottom')"
         fxFlex>
      <svg-board *ngIf="!!((page$|async)?.schema||{}).bottom" [sudoku]="((page$|async)?.schema||{}).bottom"></svg-board>
    </div>
  </div>
</div>
