<div class="sudokulab-page sudokulab-page-print background3" fxLayout="row">
  <div class="print-container" fxFlex>
    <div class="pages-container">
      <print-page *ngFor="let page of sudokuLab.state.printPages$|async"
                  [alone]="((sudokuLab.state.printPages$|async)||[]).length<2"
                  [page]="page" [activeId]="sudokuLab.state.activePrintArea$|async"
                  (clearPage)="clearPage($event)"
                  (removePage)="removePage($event)"
                  (activeChanged)="activeArea($event)"></print-page>
      <print-page mode="add" (addPage)="addPage()"></print-page>
    </div>
  </div>
  <div class="schemas background2">
    <cdk-virtual-scroll-viewport
      class="schemas-container"
      itemSize="54">
      <div class="schema-item"
           *ngFor="let sdk of schemas$|async"
           (click)="addSchema(sdk)"
           fxLayout="row">
        <svg-board class="thumbnail background" [sudoku]="sdk"></svg-board>
        <div class="schema-info" fxLayout="column">
          <div class="title" fxFlex>{{sdk | schemaName}}</div>
          <div class="sub-title">{{sdk?.info?.difficultyValue||'?'}}</div>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>
  </div>
</div>
