.page-content {
  width: 600px;
}

.header {
  padding: 40px 10px 10px;
  .title {
    font-size: 2em;
  }
  .char-input {
    width: 40px;
    font-size: 2em;
    text-align: center;
  }
}

.options {
  .mat-mdc-slider {
    width: 100%;
    margin: 0;
  }
}

.svg-grid-cell {
  fill: white;
  stroke: #333333;
  stroke-width: .2;
  cursor: pointer;

  &:hover {
    fill: rgba(1,1,1,.1);
  }

  &.active {
    fill: var(--sdk-color-accent);
  }
}

.grid {
  width: 100%;
  aspect-ratio: 1;
}
.svg-grid {
  stroke: #333333;
  stroke-width: .2;
  width: 100%;
  height: 100%;
}
